# ========== SCALA / SBT ==========
/target/
/.bsp/
/project/target/
/project/project/
/metals.sbt

# ========== INTELLIJ IDEA ==========git branch -M main
                                     #git push -u origin main
.idea/
*.iml

# ========== SISTEMA / OTROS ==========
.DS_Store
